table {
  border-collapse: collapse;
  border: none;
  width: 100%;
  background-color: #fdfdfd;

  thead {
    position: sticky;
    top: 0;
    background-color: #fdfdfd;
    z-index: 99;
    tr {
      th {
        text-align: left;
        padding: 16px 8px;
      }
    }
  }

  tbody {
    tr {

      &.trid {
        td {
          border-right: solid 1px rgba(0, 0, 0, 0.18);
          text-align: center;
          padding: 0 16px;

          &:hover {
            cursor: pointer;
            background-color: rgba(227, 227, 227, 0.64);
          }
        }
      }

      &.clickable {

        cursor: pointer;

        &:hover {
          background-color: rgba(227, 227, 227, 0.64);
        }

      }
      td {
        padding: 8px;
        border-bottom: solid 1px rgba(0, 0, 0, 0.18);
      }
    }
  }
}
