<table *ngIf="!registerAnswersFlag; else template">
  <thead class="mat-elevation-z1">
    <tr>
      <th>ID</th>
      <th>SALA</th>
      <th>ESCOLA</th>
      <th>ANO</th>
      <th>BIMESTRE</th>
      <th>CATEGORIA</th>
      <th>NOME</th>
      <th>CRIADOR</th>
      <th>MATÉRIA</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let test of tests">
      <tr class="trid">
        <td [attr.rowspan]="test.classes.length + 1">{{test.testId}}</td>
      </tr>
      <tr *ngFor="let el of test.classes;" class="clickable" (click)="registerAnswers({testId: test.testId, classId: el.classroomId, classroom: el.classroom, school: el.school})">
        <td>{{ el.classroom }}</td>
        <td>{{ el.school }}</td>
        <td>{{ el.year }}</td>
        <td>{{ el.bimester }}</td>
        <td>{{ el.category }}</td>
        <td>{{ el.name }}</td>
        <td>{{ el.teacher }}</td>
        <td>{{ el.discipline }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
<ng-template #template>
  <table>
    <thead class="mat-elevation-z1">
      <tr>
        <th [attr.colspan]="100">{{school}}</th>
      </tr>
      <tr>
        <th>
          <div>
            <span>SALA: {{classroom}}</span>
            <span>QUESTÕES:</span>
          </div>
        </th>
        <th class="question" *ngFor="let question of response.test.questions">
          {{ question.id }}
        </th>
        <th class="question total" [attr.rowspan]="2">TOTAL</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let student of response.students">
        <td class="name">{{ student.person.name }}</td>
        <ng-container *ngFor="let studentTest of student.studentTests">
          <ng-container *ngFor="let element of studentTest.studentAnswers">

            <td class="answer">
              <input
                style="background-color: inherit"
                #input
                (blur)="updateAnswers(studentTest, studentTest.studentAnswers, { id: element.id, answer: input.value.toUpperCase()})"
                maxlength="1"
                type="text"
                [value]="element.answer.toUpperCase()"
                [ngStyle]="{ 'background-color': color({ id: element.id, answer: input.value}) }"
              >
            </td>
          </ng-container>
        </ng-container>
        <td class="answer">{{ studentTotal(student.studentTests[0].studentAnswers) }}</td>
      </tr>
      <tr>
        <td class="right" style="font-weight: 600">TOTAL ACERTOS: </td>
        <td class="answer" *ngFor="let question of mapToArray">{{ question.value }}</td>
        <td class="answer">-</td>
      </tr>
    </tbody>
  </table>
</ng-template>
