<table *ngIf="!isForm; else formView">
  <thead class="mat-elevation-z1">
    <tr>
      <th [attr.colspan]="100" class="table-actions">
        <div class="table-actions-container">
          <button mat-flat-button color="primary" routerLink="new">
            <mat-icon [svgIcon]="'add'"></mat-icon>
            Novo
          </button>
          <div>
            <button mat-stroked-button (click)="getAll()">
              <mat-icon [svgIcon]="'refresh'"></mat-icon>
              Recarregar
            </button>
            <input appAutoFocus placeholder="pesquisar..." [formControl]="searchInput">
            <button mat-stroked-button color="warn" (click)="clearSearch()">
              <mat-icon [svgIcon]="'backspace'"></mat-icon>
              Limpar
            </button>
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th>TESTE</th>
      <th>SALA</th>
      <th>ESCOLA</th>
      <th>ANO</th>
      <th>BIMESTRE</th>
      <th>CATEGORIA</th>
      <th>NOME</th>
      <th>CRIADOR</th>
      <th>MATÉRIA</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let test of tests">
      <tr class="trid">
        <td [attr.rowspan]="test.classes.length + 1" (click)="navigateTo([test.testId])">{{test.testId}}</td>
      </tr>
      <tr (click)="navigateTo([test.testId, 'classroom', el.classroomId])"  *ngFor="let el of test.classes;" class="clickable">
        <td>{{ el.classroom }}</td>
        <td>{{ el.school }}</td>
        <td>{{ el.year }}</td>
        <td>{{ el.bimester }}</td>
        <td>{{ el.category }}</td>
        <td>{{ el.name }}</td>
        <td>{{ el.teacher }}</td>
        <td>{{ el.discipline }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
<ng-template #formView>
  <app-test-form></app-test-form>
</ng-template>
