<table *ngIf="!registerAnswersFlag; else template">
  <thead class="mat-elevation-z1">
    <tr>
      <th>Id</th>
      <th>SALA</th>
      <th>ESCOLA</th>
      <th>ANO</th>
      <th>BIMESTRE</th>
      <th>CATEGORIA</th>
      <th>NOME</th>
      <th>PROFESSOR</th>
      <th>MATÉRIA</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of data">
      <tr class="trid">
        <td [attr.rowspan]="item.classes.length + 1">{{item.testId}}</td>
      </tr>
      <tr *ngFor="let object of item.classes;" class="clickable" (click)="registerAnswers({testId: item.testId, classId: object.classroomId})">
        <td>{{ object.classroom }}</td>
        <td>{{ object.school }}</td>
        <td>{{ object.year }}</td>
        <td>{{ object.bimester }}</td>
        <td>{{ object.category }}</td>
        <td>{{ object.name }}</td>
        <td>{{ object.teacher }}</td>
        <td>{{ object.discipline }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
<ng-template #template>
  <table>
    <thead class="mat-elevation-z1">
    <tr>
      <th>GABARITO</th>
      <th *ngFor="let question of response.test.questions">
        {{ question.answer }}
    </tr>
      <tr>
        <th>QUESTÕES</th>
        <th *ngFor="let question of response.test.questions">
          {{ question.id }}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let student of response.students">
        <td>{{ student.person.name }}</td>
        <ng-container *ngFor="let answer of student.studentTests">
          <ng-container *ngFor="let element of answer.studentAnswers">
            <td>{{ element.answer }}</td>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>
  </table>
</ng-template>
