<table>
  <thead class="mat-elevation-z2" style="top: 0">
    <tr>
      <th [attr.colspan]="2" class="freeze">
        <div>
          <span class="bold">{{ school }}</span>
        </div>
      </th>
      <th *ngFor="let question of test.questions"></th>
      <th [attr.rowspan]="1"></th>
    </tr>

    <tr>
      <th [attr.colspan]="2" class="freeze">
        <div>
          <ng-container *ngIf="testGiver.person; else addTemplate">
            <span class="bold" (click)="addTestGiver()" style="cursor: pointer;">{{ testGiver.person | uppercase }}</span>
          </ng-container>
          <ng-template #addTemplate>
            <span class="bold" (click)="addTestGiver()" style="cursor: pointer;">SELECIONE UM PROFESSOR(A)</span>
          </ng-template>
        </div>
      </th>
      <th *ngFor="let question of test.questions"></th>
      <th [attr.rowspan]="1"></th>
    </tr>
    <tr>
      <th [attr.colspan]="2" class="freeze">
        <div>
          <span class="bold">{{ classroom }}</span>
          <span class="bold">QUESTÕES:</span>
        </div>
      </th>
      <th class="question bold" *ngFor="let question of test.questions">
        {{ question.id }}
      </th>
      <th class="question bold" [attr.rowspan]="2">PTs</th>
    </tr>

  </thead>

  <tbody>
  <tr *ngFor="let el of studentTests">
    <td [colSpan]="2" class="freeze border-right">
      <div class="name">
        <span >{{ el.student.no ?? 1 }} {{ el.student.person.name }}</span>
      </div>
    </td>
    <td class="answer" *ngFor="let question of el.student.test.answers">
      <input
        style="background-color: inherit"
        #input
        (blur)="updateAnswers(el, el.student.test.answers, { id: question.id, answer: input.value.toUpperCase()})"
        maxlength="1"
        type="text"
        [value]="question.answer.toUpperCase()"
        [ngStyle]="{ 'background-color': correctAnswer({ id: question.id, answer: input.value}) }"
      >
    </td>
    <td class="answer bold">{{ el.student.test.score }}</td>
  </tr>
  <tr>
    <td [attr.colspan]="2" class="freeze">
      <div>
        <span class="bold" [matTooltip]="'Total de alunos que realizaram a prova'">FIZERAM PROVA: {{ testsCompleted }}</span>
        <span class="bold border-right" [matTooltip]="'Total de acertos por questão'">TOT ACERTOS:</span>
      </div>
    </td>
    <td class="answer bold" *ngFor="let question of totalByQuestion">{{ question.total }}</td>
    <td class="answer">-</td>
  </tr>
  <tr>
    <td class="right bold freeze border-right border-bottom" [attr.colspan]="2">APROVEITAMENTO:</td>
    <td class="answer" *ngFor="let question of rateByQuestion">
      <input class="rate"
             [value]=" question.rate" readonly
             [ngStyle]="{ 'background-color': rateColor(question.rate) }"
      >
    </td>
    <td class="answer">-</td>
  </tr>
  </tbody>
</table>
