.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 32px;
  grid-column-gap: 32px;

  .fl-row {
    display: inline-flex;
    flex-flow: row wrap;
    flex: 1;
    column-gap: 16px;

    mat-form-field {
      flex: 1;
    }

    .answers-form-field {
      display: flex;
      flex: 1;

      .outside-fieldset {
        border-radius: 4px;
        padding: 16px;
        height: 42vh;
        overflow-y: scroll;

        .questions-container {
          display: flex;
          flex-direction: column;
          column-gap: 32px;
          row-gap: 22px;

          fieldset {
            display: flex;
            border-radius: 4px;

            .question-form-row {
              display: inline-flex;
              flex-flow: row wrap;
              flex: 1;
              justify-content: center;
              column-gap: 16px;
              padding: 16px 16px 0 16px;
            }
          }
        }

        .add-btn {
          display: flex;
          justify-content: flex-end;
          margin-top: 32px;
          margin-right: 16px;
        }
      }
    }
  }
}

@media (max-width: 768px) {

  .grid-container {
    grid-template-columns: repeat(1, 1fr);

    .fl-row {
      display: flex;
      flex-direction: column;

      .answers-form-field .outside-fieldset .questions-container fieldset .question-form-row  {
        padding: 10px 0 0;
      }

      .answers-form-field .outside-fieldset .add-btn  {
        margin-right: 0;
      }
    }
  }
}
