<form [formGroup]="form" class="grid-container" (submit)="onSubmit()">

  <div class="fl-row">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" appAutoFocus>
    </mat-form-field>
  </div>

  <div class="fl-row">
    <mat-form-field appearance="outline">
      <mat-label>Data de nascimento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </div>

  <div class="fl-row">
    <mat-form-field appearance="outline" class="flx-2">
      <mat-label>RA</mat-label>
      <input matInput formControlName="ra">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Dígito</mat-label>
      <input matInput formControlName="dv" maxlength="1" minlength="1">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <input matInput formControlName="state" maxlength="2" minlength="2">
    </mat-form-field>
  </div>

  <div class="fl-row">

    <mat-form-field appearance="outline">
      <mat-label>No.</mat-label>
      <input matInput formControlName="order" maxlength="2" minlength="1">
    </mat-form-field>

    <mat-form-field class="flx-3" appearance="outline" (click)="openClassesOptions()">
      <mat-label>Sala</mat-label>
      <input required readonly matInput formControlName="className">
    </mat-form-field>

  </div>

  <div class="flx-row student-form-actions">

    <div class="form-actions">

      <button type="button" mat-raised-button (click)="resetForm()"  [disabled]="form.pristine">
        <mat-icon [svgIcon]="'close'"></mat-icon>
        Cancelar
      </button>

      <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid || form.pristine">
        <mat-icon [svgIcon]="'done'"></mat-icon>
        Salvar
      </button>

      <button (click)="delete()" type="button" mat-raised-button color="accent" *ngIf="id" [disabled]="!!id">
        <mat-icon [svgIcon]="'delete'"></mat-icon>
        Deletar
      </button>

    </div>
  </div>
</form>

<pre>
{{form.value | json}}
</pre>


