<ng-container *ngIf="state">
  <form [formGroup]="form">
    <ng-container *ngFor="let control of controls">

      <div class="flex-break no-gap" *ngIf="control.breakBefore"></div>

      <ng-container [ngSwitch]="control.type">

        <ng-container *ngSwitchCase="'default'">
          <mat-form-field appearance="outline" *ngIf="control.show" [style]="control.flex">
            <mat-label>{{ control.label }}</mat-label>
            <input matInput
                   [readonly]="control.readonly"
                   [required]="control.required"
                   [disabled]="control.disabled"
                   [formControlName]="control.name"
                   [placeholder]="control.placeholder" />
          </mat-form-field>
        </ng-container>

        <ng-container *ngSwitchCase="'popup'">
<!--          DOIS inputs. um burro que só irá replicar a opção escolhida no popup-->
          <mat-form-field appearance="outline" *ngIf="control.show" [style]="control.flex">
            <mat-label>{{ control.label }}</mat-label>
            <input matInput
                   (click)="openDialog(control)"
                   [readonly]="control.readonly"
                   [required]="control.required"
                   [disabled]="control.disabled"
                   [formControlName]="control.name"
                   [placeholder]="control.placeholder" />
          </mat-form-field>
        </ng-container>

        <ng-container *ngSwitchCase="'select'">
          <mat-form-field appearance="outline" *ngIf="control.show" [style]="control.flex">
            <mat-label>{{ control.label }}</mat-label>
            <mat-select [formControlName]="control.name">
              <mat-option *ngFor="let option of control.options" [value]="option.id">
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>

      </ng-container>

    </ng-container>
  </form>
</ng-container>

<pre>
{{ form.value | json }}
</pre>

<pre>
{{ element | json }}
</pre>

