<div class="form-container" *ngIf="state">
  <form [formGroup]="form">
    <ng-container *ngFor="let control of controls">

      <ng-container [ngSwitch]="control.type">

        <ng-container *ngSwitchCase="'input'">
          <mat-form-field appearance="outline">
            <mat-label>{{ control.label }}</mat-label>
            <input matInput [formControlName]="control.name" [placeholder]="control.placeholder" />
          </mat-form-field>
        </ng-container>

      </ng-container>

    </ng-container>
  </form>
</div>

<pre>
{{ element | json }}
</pre>


