.active {
  background-color: #f5f5f5;
}

.menu {
  position: sticky;
  left: 0;
  top: 0;
  margin-right: 8px;
}

.defaultactive {
  background-color: #333;
}

mat-toolbar {
  height: 56px;
  background-color: #4b4b4b;
  border-bottom: 2px ridge #444;
}

mat-toolbar.second-mat-toolbar {
  display: flex;
  justify-content: space-between;
  height: 48px;
  z-index: 9999;
  border-bottom: ridge 1px rgba(0,0,0,.12);
  background-color: #f5f5f5;
  padding: 0 8px;

  .bold {
    color: #3f51b5;
    font-weight: 500;
    letter-spacing: var(--mdc-typography-button-letter-spacing, 0.0892857143em);
    margin-bottom: 0;
    font-size: 14px;
  }
}

mat-sidenav {
  background-color: #333;
  width: 245px;
}

mat-sidenav-container {
  height: calc(100vh - 56px);
  background-color: #f6f6f6;
  opacity: 1;
  background: linear-gradient(135deg, #ffffff55 25%, transparent 25%) -27px 0/ 54px 54px, linear-gradient(225deg, #ffffff 25%, transparent 25%) -27px 0/ 54px 54px, linear-gradient(315deg, #ffffff55 25%, transparent 25%) 0px 0/ 54px 54px, linear-gradient(45deg, #ffffff 25%, #f6f6f6 25%) 0px 0/ 54px 54px;
}

mat-sidenav {}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px);
}

#menu-color-icon {
  color: #3f51b5;
  border-bottom: none;

  &.active {
    color: #3f51b5;
  }

  &.defaultactive {
    color: #fff;
  }
}
