<mat-toolbar color="primary">

  <div class="menu">
    <button (click)="opened = !opened" mat-icon-button matTooltip="Menu">
      <mat-icon svgIcon="menu"></mat-icon>
    </button>
  </div>

</mat-toolbar>

<mat-toolbar class="second-mat-toolbar">
  <h3 style="margin-bottom: 0">{{ title$ | async }}</h3>
  <button mat-button>
    <mat-icon [svgIcon]="'keyboard_arrow_left'" style="line-height: 0"></mat-icon>
    Voltar
  </button>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav [fixedInViewport]="mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'" [(opened)]="opened">

    <mat-list>

      <mat-list-item matRipple *ngFor="let menu of MENU_TREE" [routerLink]="menu.url" routerLinkActive="active">
        <mat-icon id="menu-color-icon" matListItemIcon>{{ menu.icon }}</mat-icon>
        <div matListItemTitle>{{menu.title}}</div>
      </mat-list-item>

    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <ng-content></ng-content>

  </mat-sidenav-content>

</mat-sidenav-container>
