<mat-toolbar>

  <div>
    <div class="menu">
      <button (click)="opened = !opened" mat-icon-button>
        <mat-icon style="color: #fff" svgIcon="menu"></mat-icon>
      </button>
    </div>

    <h2 style="margin-bottom: 0; color: #fff">Prefeitura de Itatiba</h2>
  </div>

  <div *ngIf="true">
    <button mat-button (click)="doLogin()" class="login-btn" *ngIf="!userLoginService.token; else logout">
      <mat-icon [svgIcon]="'login'" style="line-height: 0"></mat-icon>
      <span>Login</span>
    </button>
    <ng-template #logout>
      <button mat-button (click)="doLogout()" class="login-btn">
        <mat-icon [svgIcon]="'close'" style="line-height: 0"></mat-icon>
        <span>Logout</span>
      </button>
    </ng-template>
  </div>

</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav [fixedInViewport]="mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'" [(opened)]="opened">

    <mat-list>

      <mat-list-item #rla="routerLinkActive" matRipple *ngFor="let menu of MENU_TREE" [routerLink]="menu.url" routerLinkActive="active">
        <mat-icon id="menu-color-icon" [ngClass]="rla.isActive ? 'active': 'defaultactive'"  matListItemIcon>{{ menu.icon }}</mat-icon>
        <div [ngClass]="rla.isActive ? 'active': 'defaultactive'" matListItemTitle style="{{ rla.isActive? 'color: #3f51b5' : 'color: #fff' }}; border-bottom: none">{{menu.title}}</div>
      </mat-list-item>

    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar class="second-mat-toolbar">
      <h3 class="bold">{{ title$ | async | uppercase }}</h3>
      <button mat-button *ngIf="!isHome" (click)="previousPage()">
        <mat-icon [svgIcon]="'keyboard_arrow_left'" style="line-height: 0"></mat-icon>
        <span>Voltar</span>
      </button>
    </mat-toolbar>

    <ng-content></ng-content>

  </mat-sidenav-content>

</mat-sidenav-container>
