<mat-toolbar>

  <div class="menu">
    <button (click)="opened = !opened" mat-icon-button matTooltip="Menu">
      <mat-icon style="color: #fff" svgIcon="menu"></mat-icon>
    </button>
  </div>

</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav [fixedInViewport]="mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'" [(opened)]="opened">

    <mat-list>

      <mat-list-item #rla="routerLinkActive" matRipple *ngFor="let menu of MENU_TREE" [routerLink]="menu.url" routerLinkActive="active">
        <mat-icon id="menu-color-icon" [ngClass]="rla.isActive ? 'active': 'defaultactive'"  matListItemIcon>{{ menu.icon }}</mat-icon>
        <div [ngClass]="rla.isActive ? 'active': 'defaultactive'" matListItemTitle style="{{ rla.isActive? 'color: #333' : 'color: #fff' }}; border-bottom: none">{{menu.title}}</div>
      </mat-list-item>

    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar class="second-mat-toolbar">
      <h3 class="bold">{{ title$ | async | uppercase }}</h3>
      <button style="background-color: #fff" mat-stroked-button *ngIf="!isHome" (click)="previousPage()">
        <mat-icon [svgIcon]="'keyboard_arrow_left'" style="line-height: 0"></mat-icon>
        Voltar
      </button>
    </mat-toolbar>

    <ng-content></ng-content>

  </mat-sidenav-content>

</mat-sidenav-container>
