.active {
  background-color: #e3e3e3;
}

.second-mat-toolbar {
  height: 40px;
  z-index: 99;
  border-bottom: solid 1px rgba(0,0,0,.12)
}

mat-toolbar {
  height: 56px;
}

mat-sidenav {
  width: 300px;
}

mat-sidenav-container {
  height: calc(100vh - 96px);
}

mat-sidenav {}

mat-sidenav-content {}

#menu-color-icon {
  color: #333;
}
