<table>
  <thead class="mat-elevation-z2" style="top: 0">
  <tr>
    <th [attr.colspan]="2" class="freeze">
      <div>
        <span class="bold">{{ school }}</span>
      </div>
    </th>
    <th *ngFor="let question of questions"></th>
  </tr>
  <tr>
    <th [attr.colspan]="2" class="freeze">
      <div>
        <span class="bold">SALAS</span>
        <span class="bold">QUESTÕES:</span>
      </div>
    </th>
    <th class="question bold" *ngFor="let question of questions">
      {{ question }}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let el of classrooms">
    <td [colSpan]="2" class="freeze border-right">
      <div class="name">
        <span >{{ el['classroom'] }}</span>
      </div>
    </td>
    <td class="answer" *ngFor="let question of el['question']">
      {{ question.rate }}
    </td>
  </tr>
  </tbody>
</table>
<h2 style="text-align: center; background-color: #fff; margin-bottom: 0; padding: 16px 0; font-size: 14px; position: sticky; left: 0" class="bold">{{'GRÁFICO' | uppercase}}</h2>
<div style=" border-bottom: 1px solid rgba(0, 0, 0, 0.18); position: sticky; left: 0; height: 250px; background-color: #fff">
  <canvas #chart></canvas>
</div>
