:host {
  display: inline-block;
  width: 100%;
  height: calc(100vh - 170px);
  padding: 16px;

  .container {
    display: flex;
    flex: 1;
    height: inherit;
    justify-content: center;

    canvas {
    }
  }
}
