<mat-toolbar color="primary">

  <div class="menu">
    <button (click)="opened = !opened" mat-icon-button matTooltip="Menu">
      <mat-icon svgIcon="menu"></mat-icon>
    </button>
  </div>

</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav [fixedInViewport]="mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'" [(opened)]="opened">

    <mat-list>

      <mat-list-item matRipple *ngFor="let menu of MENU_TREE" routerLinkActive="active" (click)="setToolbarInfo(menu)">
        <mat-icon id="menu-color-icon" matListItemIcon>{{ menu.icon }}</mat-icon>
        <div matListItemTitle>{{menu.title}}</div>
      </mat-list-item>


    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar class="second-mat-toolbar mat-elevation-z1">
      <h2 style="margin-bottom: 0">{{ title }}</h2>
    </mat-toolbar>

    <ng-content></ng-content>

  </mat-sidenav-content>

</mat-sidenav-container>
