<mat-toolbar color="primary">

  <div class="menu">
    <button (click)="opened = !opened" mat-icon-button matTooltip="Menu">
      <mat-icon svgIcon="menu"></mat-icon>
    </button>
  </div>

</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav [fixedInViewport]="mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'" [(opened)]="opened">

    <mat-list>

      <mat-list-item matRipple *ngFor="let menu of MENU_TREE" routerLinkActive="active" [routerLink]="menu.url">
        <mat-icon>{{menu.icon}}</mat-icon>
        <span matLine >{{menu.title}}</span>
      </mat-list-item>

    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <ng-content></ng-content>

  </mat-sidenav-content>

</mat-sidenav-container>
